---
---

@import "{{ site.theme }}";

ul {
  margin-bottom: 0;
}

h2 {
  padding-top: 15px;
}

h3 {
  padding-top: 15px;
}

a:link {
  color: #bd8d46;
  text-decoration: none;
}

a:visited {
  color: #bd8d46;
  text-decoration: none;
}

a:hover {
  color: #bd8d46;
  text-decoration: underline;
}

a:active {
  color: #bd8d46;
  text-decoration: underline;
}
