---
---

@import "{{ site.theme }}";

/* lists */

ul {
  margin-bottom: 0;
  font:15px;
}

/* headings */

h2 {
  padding-top: 15px;
}

h3 {
  padding-top: 15px;
}


/* links */

a:link {
  color: #bd8d46;
  text-decoration: none;
}

a:visited {
  color: #bd8d46;
  text-decoration: none;
}

a:hover {
  color: #bd8d46;
  text-decoration: underline;
}

a:active {
  color: #bd8d46;
  text-decoration: underline;
}
