<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/sca-handbook/assets/images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
  </head>
  <body>

      <header>
        <h1 style="color: #242733">{{ site.title | default: site.github.repository_name }}</h1>
        <p><a href="/sca-handbook/index.html" style="color: #242733">{{ page.description | default: site.description | default: site.github.project_tagline }}</a></p>

<!--        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <p><a href="/sca-handbook/index.html" style="color: #fff">{{ page.description | default: site.description | default: site.github.project_tagline }}</a></p>
-->
      </header>

      <div id="banner">
        <span id="logo"></span>
<a href="https://calarchivists.org" class="button fork" target="_blank"><strong>Society of California Archivists</strong></a>
        <!--        <a href="{{ site.github.repository_url }}" class="button fork"><strong>View On GitHub</strong></a>
        {% if site.show_downloads %}
          <div class="downloads">
            <span>Downloads:</span>
            <ul>
              <li><a href="{{ site.github.zip_url }}" class="button">ZIP</a></li>
              <li><a href="{{ site.github.tar_url }}" class="button">TAR</a></li>
            </ul>
          </div>
        {% endif %}
-->
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
          <p><a href="/sca-handbook/">Handbook, Bylaws, and Policies</a></p>
          <p><a href="/sca-handbook/01_introductory_material/">Part 1: Introductory Material</a></p>
          <p><a href="/sca-handbook/02_governing_body/">Part 2: Governing Body</a></p>
          <p><a href="/sca-handbook/03_committees/">Part 3: Committees</a></p>
          <p><a href="/sca-handbook/04_external_relations/">Part 4: External Relations</a></p>
          <p><a href="/sca-handbook/05_history/">Part 5: History</a></p>
          <p><a href="/sca-handbook/#about">About</a></p>
          <p><a href="/sca-handbook/#contact">Contact</a></p>
      </nav>
      <section>
        <!-- {% if folder.github.is.01_introductory_material %}
          <sup><a href="/sca-handbook/">SCA Handbook</a> | <a href="/sca-handbook/01_introductory_material/">Part 1: Introductory Material</a></sup> 
          {% endif %}
        {% if directory.github == 02_governing_body %}
          <sup><a href="/sca-handbook/">SCA Handbook</a> | <a href="/sca-handbook/02_governing_body/">Part 2: Governing Body</a></sup> 
          {% endif %} -->
        
            <ol class="breadcrumb">
    <li><a href="{{ site.baseurl }}/">SCA Handbook</a></li>
    {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
    {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
    {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
    {% for i in (1..forLoopMaxInt) %}
        {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
        {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
        {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %} 
        {% for breadcrumb_page in site.pages %}

            {% if current_breadcrumb_url == breadcrumb_page.url or
                  current_breadcrumb_md_url == breadcrumb_page.url %}
                {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                    {% assign j = forLoopMaxInt | plus: 0 %}
                    <li {% if i == j %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.breadcrumb}}</a>
                </li>
              <li><a href="{{ site.baseurl }}/{{ directory.baseurl }}/">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ol>
         
        {{ content }}
      </section>
      <footer>
        <a href="https://calarchivists.org" alt="Society of California Archivists website"><img src="/sca-handbook/assets/images/sca-logo-color.png" alt="SCA logo" width="150"/></a>
        {% if site.github.is_project_page %}
          <p>Website maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Original theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>
      </footer>
    </div>
  </body>
</html>
